body {
  text-align: center;
  font-family: "Roboto", monospace;
  background-color: #E1CCEC;
}

h1 {
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 48px;
  margin: 1%;
  color: #813CA5;
}

h2 {
  font-size: 36px;
  font-weight: lighter;
  margin: 1%;
  margin-top: 0;
  color: #813CA5;
}

.cell {
  height: 100px;
  width: 100px;
  background-color: ##E1CCEC;
  border: 1px solid #813CA5;
  border-radius: 50%;
  display: inline-block;
  line-height: 175px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px

}

.wrap {
  flex-wrap: wrap;
  height: 750px;
  width: 800px;
}

.container {
align-items: center;
}

.Red {
  background-color: #FF0000;
  color: transparent;
}

.Yellow {
  background-color: #FFFF00;
  color: transparent;
}

#board {
  background-color: #E1CCEC;
  border: 1px solid #813CA5;
  display: inline-block;
  vertical-align: middle;
  line-height: 123px;
  user-select: none;
}

#redFirst {
   background-color: #E1CCEC;
   border: 1px solid #813CA5;
   color: #813CA5;
   font-size: 21px;
   line-height: 55px;
   margin: 1%;
   text-align: center;
   width: 288px;
   outline: none;
}

#yellowFirst{
  background-color: #E1CCEC;
  border: 1px solid #813CA5;
  color: #813CA5;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 288px;
  outline: none;
}

#redFirst:hover {
  background-color: #813CA5;
  color: #E1CCEC;
  cursor: pointer;
}

#yellowFirst:hover {
  background-color: #813CA5;
  color: #E1CCEC;
  cursor: pointer;
}

#reset-button {
  background-color: #E1CCEC;
  border: 1px solid #813CA5;
  color: #813CA5;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

#reset-button:hover {
  background-color: #813CA5;
  color: #E1CCEC;
  cursor: pointer;
}

#keep-score {
  background-color: #E1CCEC;
  border: 1px solid #813CA5;
  color: #813CA5;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 583px;
}
a, a:hover, a:visited, a:active {
  color: #813CA5
}
